/* Importation */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap");

/* CSS Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0e131f;
}

/* ---------------------------------------------------------------------- */

/* En-tête de page */

header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .boxLogo {
    padding-left: 50px;
}

header .boxLogo img {
    height: 55px;
}

header .navbar ul {
    display: flex;
    align-items: center;
}

header .navbar li {
    padding-right: 50px;
}

header .navbar a {
    position: relative;
    font-size: 1.2em;
    font-weight: 500;
    color: #eef1ef;
}

header .navbar li:nth-child(3) a {
    font-size: 0.7em;
}

header .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #eef1ef;
    transition: 0.3s;
}

header .navbar a:hover::before {
    width: 100%;
}

/* ---------------------------------------------------------------------- */

/* Middle Page */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section h2 {
    font-size: 1.4em;
    font-family: "Press Start 2P", cursive;
    padding-bottom: 25px;
    text-shadow: 0px 0px 10px #eef1ef;
    color: #eef1ef;
}

section .texte {
    padding: 0px 10%;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #eef1ef;
}

/* ---------------------------------------------------------------------- */

/* Footer = Réseaux */

footer .boite1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .boite1 .boite-reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .boite1 .boite-reseaux ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .boite1 .boite-reseaux li {
    margin: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 162px;
    background: #0e131f;
    box-shadow: 5px 5px 8px #070a10, -5px -5px 8px #151d2f;
}

footer .boite1 .boite-reseaux li:hover {
    box-shadow: inset 5px 5px 8px #070a10, inset -5px -5px 8px #151d2f;
}

footer .boite1 .boite-reseaux ul li a {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
}

footer .boite1 p {
    text-align: center;
    font-size: 0.9em;
    color: #eef1ef;
}

/* Couleur des différents réseaux */

footer .boite1 .boite-reseaux ul li:nth-child(1) a {
    color: #0e76a8;
}

footer .boite1 .boite-reseaux ul li:nth-child(2) a {
    color: #ffffff;
}

footer .boite1 .boite-reseaux ul li:nth-child(3) a {
    color: #14ff1c;
}

/* ---------------------------------------------------------------------- */

/* CSS Responsive */

@media screen and (min-width: 900px) {

    section h2 {
        font-size: 2.5em;
    }

    section .texte {
        font-size: 2em;
    }

    footer .boite1 .boite-reseaux li {
        margin: 25px;
        height: 75px;
        width: 75px;
    }

    footer .boite1 p {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 600px) {

    section h2 {
        font-size: 2em;
    }

    section .texte {
        font-size: 1.5em;
    }

    footer .boite1 .boite-reseaux li {
        margin: 25px;
        height: 75px;
        width: 75px;
    }

    footer .boite1 p {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 600px) {
    
    header {
        height: 100px;
        flex-direction: column;
    }

    header .boxLogo {
        padding: 10px 0 0;
    }

    header .navbar li {
        padding: 0 20px;
    }

    header .navbar li:nth-child(2) {
        order: 3;
    }

}

/* ---------------------------------------------------------------------- */