/* ---------------------------------------------------------------------- */

.box::before {
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #45f3ff,
        #45f3ff,
        #45f3ff
    );
}

.box::after {
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #45f3ff,
        #45f3ff,
        #45f3ff
    );
}

.borderLine::before {
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #ff2770,
        #ff2770,
        #ff2770
    );
}

.borderLine::after {
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #ff2770,
        #ff2770,
        #ff2770
    );
}

/* ---------------------------------------------------------------------- */